@charset "UTF-8";
/* 公共樣式初始化 */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
}

a {
  text-decoration: none;
  /* 取消文字修飾 */
}

article,
section,
aside,
address,
nav,
header,
footer,
img {
  display: block;
}

img {
  border: none;
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.iconPostion i.icon,
.function i.icon {
  width: auto;
  min-width: 40px;
  min-height: 40px;
  margin: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.8rem;
}

.ui.checkbox .box,
.ui.checkbox label {
  font-size: 1.2rem;
}

body {
  font-family: 'Microsoft JhengHei', 'MS Sans Serif';
  color: #4d4d4d;
  background: #4d4d4d;
  overflow: hidden;
}

.flex-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: fixed;
  z-index: 1;
}

header {
  top: 0;
  height: 7.6vh;
  z-index: 2;
}

header > div {
  width: 400px;
  background: #1dade5;
  color: #FFF;
  position: relative;
  font-size: 1.8rem;
  font-weight: 600;
}

@media (max-width: 992px) {
  header > div {
    width: 100%;
  }
}

header .iconPostion {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 8px;
}

header .icon:nth-of-type(odd) {
  left: 0;
}

header .icon:nth-of-type(even) {
  right: 0;
}

header .notify {
  position: relative;
}

header .notify:after {
  content: "99+";
  background-color: #ff4949;
  color: #fff;
  font-size: 0.9rem;
  width: 19px;
  height: 19px;
  line-height: 1.5;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  font-weight: 600;
  padding-left: 2px;
  border-radius: 100%;
  pointer-events: none;
}

header .title {
  width: 70vw;
  font-size: 1.8rem;
  text-align: center;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

footer {
  bottom: 0;
  height: 7.4vh;
}

footer .ui.grid {
  width: 400px;
  background: #fff;
  color: #ccc;
  -webkit-box-shadow: 0 0 10px 2px #bababf;
          box-shadow: 0 0 10px 2px #bababf;
  margin: 0;
  height: 100%;
}

@media (max-width: 992px) {
  footer .ui.grid {
    width: 100%;
  }
}

footer .ui.grid .column.function {
  padding: 0.5rem;
  height: 100%;
  cursor: pointer;
}

footer .function div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .function .title {
  font-size: 0.6rem;
  font-weight: 600;
  color: #898989;
  line-height: 1.8;
}

footer .function .icon {
  height: 54%;
}

footer .function .icon svg {
  width: 100%;
  height: 100%;
  fill: #aeb6b7;
}

footer .function .logo {
  position: relative;
  height: 100%;
}

footer .function .logo img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

footer .function .logo img:active {
  width: 80%;
  height: auto;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.main-container {
  width: 400px;
  min-height: 100vh;
  background: #FFF;
  padding: 7.6vh 0 0;
  position: relative;
  height: 100vh;
}

section.main-container.hadFooter {
  padding: 7.6vh 0 7.4vh;
  height: calc(100vh - 7.6vh - 7.4vh);
}

@media (max-width: 992px) {
  section.main-container {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .ui.items:not(.unstackable) > .item {
    margin: 1em 0;
  }
}

.modal {
  width: 400px;
  height: 100vh;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

@media (max-width: 576px) {
  .modal {
    width: 100%;
  }
}

.modal .modalPostion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 30px 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.modal .modalPostion .btnBlock-sticky {
  -webkit-box-shadow: 0 0 10px 2px #bababf;
          box-shadow: 0 0 10px 2px #bababf;
}

.modal .modalPostion.small {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modalPostion.small .btnBlock-sticky {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.modal .modalContent {
  width: 100%;
  min-height: 160px;
  max-height: 85%;
  overflow: auto;
  background: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .modalContent .contentBlock {
  font-size: 1.6rem;
  padding: 30px 20px 0;
}

.modal .modalContent .btnBlock-sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.modal .modalContent .btnBlock-sticky .btnBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 20px;
}

.modal .modalContent .btnBlock-sticky .btnBlock:first-of-type {
  padding-bottom: 0;
}

.modal .modalContent .btnBlock-sticky .btnBlock:last-of-type {
  padding-bottom: 30px;
}

.modal .modalContent .btnBlock-sticky .btnBlock.btnTwo {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .modalContent .btnBlock-sticky .btnBlock.btnTwo button {
  width: 45%;
}

.modal .modalContent .btnBlock-sticky .btnBlock button {
  width: 100%;
  font-size: 1.6rem;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
}

.modal .modalContent .btnBlock-sticky .btnBlock button.cancel {
  background: #666b80;
}

.modal .modalContent .btnBlock-sticky .btnBlock button.confirm {
  background: #0abbb5;
}

.modal .modalContent .btnBlock-sticky .btnBlock button.delete {
  background: #e05f5f;
}

.loadingModal {
  color: #FFF;
}

.loadingModal .modalPostion {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loadingModal .modalPostion > div {
  font-size: 1.6rem;
  margin-top: 30px;
  font-weight: 600;
}

.contactBookDesc .coursePostion {
  overflow: auto;
  max-height: 100%;
  padding-bottom: calc(7.6vh + 7.4vh);
}

.contactBookDesc .courseInfo {
  color: #898989;
  border-left: 6px solid #1dade5;
  padding-left: 10px;
  margin-bottom: calc(1rem * 2);
  line-height: 2rem;
}

.contactBookDesc .courseInfo * {
  font-size: 1.2rem;
}

.contactBookDesc .courseInfo.courseHeader {
  padding: 1rem;
  background: #ebf8fd;
  -webkit-box-shadow: 0 0 10px 2px #bababf;
          box-shadow: 0 0 10px 2px #bababf;
  border: 0;
  margin-bottom: 0;
}

.contactBookDesc .courseInfo span {
  color: #4d4d4d;
  padding-left: 10px;
}

.contactBookDesc .contactSelectBtn {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.contactBookDesc .contactContent {
  padding: 1rem;
}

.contactBookDesc .contactContent h2 {
  color: #1dade5;
  font-size: 1.5rem;
  margin: 0;
}

.contactBookDesc .contactContent h3 {
  color: #afafaf;
}

.contactBookDesc .contactContent .descCard {
  padding: 1rem;
}

.contactBookDesc .contactContent .field {
  margin: 1.2rem 0 !important;
}

.contactBookDesc .contactContent .field label {
  font-size: 1.5rem;
  line-height: 1.4;
  color: #6c6b6b;
}

.contactBookDesc .contactContent .field label::before, .contactBookDesc .contactContent .field label::after {
  margin: 5px;
}

.contactBookDesc .contactContent .field input:checked + label {
  color: #1dade5;
}

.contactBookDesc .contactContent .field input:checked + label::before, .contactBookDesc .contactContent .field input:checked + label::after {
  color: #1dade5;
}

.contactBookDesc .contactContent .field input[type="radio"]:checked + label::after {
  background-color: #1dade5;
}
/*# sourceMappingURL=classContentDesc.css.map */